<html>

<head>

    <title>Crud Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename = 'student.png' )}}">


</head>

<body>
<style>
hr.new {
  border: 5px solid blue;
  border-radius: 5px;
}
</style>

<div class="container">

    <div class="well text-center">

        <h3><b>CRUD Web Application Development Using Flask Python and MySQL</b></h3>
        <hr class="new">
        <h4><b>Created By Jake R. Pomperada and Rollyn M. Moises</b> </h4>


    </div>